
{{block head}}
<script src="{{=URL('static','js/dropzone.js')}}"></script>
<link href="{{=URL('static','css/dropzone.css')}}" rel="stylesheet">
<script src="{{=URL('static','js/vue2Dropzone.js')}}">
import vue2Dropzone from 'vue2-dropzone'
import 'vue2-dropzone/dist/vue2Dropzone.min.css'

export default {
  name: 'app',
  components: {
    vueDropzone: vue2Dropzone
  },
  data: function () {
    return {
      dropzoneOptions: {
          url: 'https://httpbin.org/post',
          thumbnailWidth: 150,
          maxFilesize: 0.5,
          headers: { "My-Awesome-Header": "header value" }
      }
    }
  }
}
</script>

{{end}}

<vue-dropzone ref="myVueDropzone" id="dropzone" :options="dropzoneOptions"></vue-dropzone>
<!--
<form action="/file-upload"
      class="dropzone dz-clickable"
      id="my-awesome-dropzone">
</form>
-->