
{{block head}}
 <link rel="stylesheet" href="{{=URL('static','css/InHouseDropzone.css')}}" type="text/css">

{{end}}

<!-- In house dropzone uploader. This unfortunately cannot go into the Vue div -->
<form class="box_upload" method="post" action="" enctype="multipart/form-data">
  <div class="box__input">
    <input class="center box__file" type="file" name="files[]" id="file" data-multiple-caption="{count} files selected" multiple />
    <label for="file"><strong>Choose a file</strong><span class="box__dragndrop"> or drag it here</span>.</label>
    <button class="box__button" type="submit">Upload</button>
  </div>
  <div class="box__uploading">Uploading&hellip;</div>
  <div class="box__success">Done!</div>
  <div class="box__error">Error! <span></span>.</div>

</form>

<!--

<form action="/file-upload"
      class="dropzone"
      id="my-awesome-dropzone">
    <div class="dz-message" style="font-size:20px">
        Drop files here to upload them, or click to select them.<br>
        Ya bish<i class="fa fa-hand-pointer-o" style="font-size:4em"></i>

    </div>
</form>
-->