<!-- Content Header (Page header) -->
<div class="box-header with-border">
    <b class="box-title">Generate key</b>
    <div class="box-tools pull-right">
        <button type="button" class="btn btn-box-tool" data-widget="collapse">
            <i class="fa fa-minus"></i>
        </button>
    </div>
</div>

<!-- Main content -->
<div class="box-body">

    <!-- /.form-group -->
    <div v-if="key_generator.kl_error == false" class="form-group">
        <label>Key Label</label>
        <input v-model="key_generator.key_label" type="text" class="form-control" placeholder="Enter ...">
    </div>
    <div v-if="key_generator.kl_error == true" class="form-group has-error">
        <label>Key Label</label>
        <input v-model="key_generator.key_label" type="text" class="form-control" placeholder="Enter ...">
        <span class="help-block">Key must have a label.</span>
    </div>

    <div v-if="key_generator.kt_error == false" class="form-group">
        <label>Key Type</label>
        <v-select label="type" v-model="key_generator.key_type" :options="key_generator.key_type_to_size_and_curves()"></v-select>
    </div>
    <div v-if="key_generator.kt_error == true" class="form-group has-error">
        <label>Key Type</label>
        <v-select label="type" v-model="key_generator.key_type" :options="key_generator.key_type_to_size_and_curves()"></v-select>
        <span class="help-block">Key must have a type.</span>
    </div>

    <div v-if="key_generator.key_sizes() != null" class="form-group">
        <label>Key Size / Curve</label>
        <v-select :options="key_generator.key_sizes()" v-model="key_generator.key_size"></v-select>
    </div>
    <button v-on:click="key_generator.generate()" type="submit" class="btn btn-primary btn-flat">
        Generate
    </button>

</div>
<!-- /.content -->
