<!-- Content Header (Page header) -->
<section class="box-header with-border">
  <b>Generate key</b>
</section>

<!-- Main content -->
<div class="box-body">
    <!-- /.form-group -->
    <div class="form-group">
        <label>Key Label</label>
        <input v-model="key_generator.key_label" type="text" class="form-control" placeholder="Enter ...">
    </div>
    <div class="form-group">
        <label>Key Type</label>
        <v-select label="type" v-model="key_generator.key_type" :options="key_generator.key_type_to_size_and_curves"></v-select>
    </div>
    <div v-if="key_generator.key_sizes() != null" class="form-group">
        <label>Key Size / Curve</label>
        <v-select :options="key_generator.key_sizes()" v-model="key_generator.key_size"></v-select>
    </div>
    <button v-on:click="key_generator.generate()" type="submit" class="btn btn-primary btn-flat">
        Generate
    </button>
</div>
<!-- /.content -->
