<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Generate key
    </h1>
</section>

<!-- Main content -->
<section class="invoice">
    <!-- /.form-group -->
    <div class="form-group">
        <label>Key Type</label>
        <v-select label="type" v-model="key_type" :options="key_type_to_size_and_curves"></v-select>
    </div>
    <div class="form-group">
        <label>Key Label</label>
        <input type="text" class="form-control" placeholder="Enter ...">
    </div>
    <div v-if="available_size_or_curves" class="form-group">
        <label>Key Size / Curve</label>
        <v-select :options="available_size_or_curves" v-model="size_or_curve"></v-select>
    </div>
</section>
<!-- /.content -->