{{extend 'layout.html'}}

<section class="content">
  <div class="row">
      <div class="box">
        <!-- DONUT CHART -->
        <div class="box box-danger">
          <div class="box-header with-border">
            <h3 class="box-title">Donut Chart</h3>

            <div class="box-tools pull-right">
              <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
              </button>
            </div>
          </div>
          <div class="box-body">
            <div class="col-sm-6">
              <canvas id="pieChart" style="height:250px"></canvas>
            </div>
            <div class="col-sm-6">
              <p> Signs: </p>
              <p> Verifies: </p>
              <p> Signs: </p>
              <p> Signs: </p>
              <p> Signs: </p>
            </div>
          </div>
          <!-- /.box-body -->
        </div>
        <!-- /.box -->
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6 col-md-6">
      <div class="box">
        {{include 'default/generate_key.html'}}
      </div>
      <!-- encrypt/decrypt here? -->
    </div>
    <div class="col-sm-6 col-md-6">
      <div class="box">
        {{include 'default/sign_verify.html'}}
      </div>
    </div>
  </div>

  <button v-on:click="destroy_everything()" type="submit" class="btn btn-primary btn-flat">
    delete everything
  </button>
</section>
