<section class="box-header with-border">
  <b class="box-title">Sign/verify</b>
  <div class="box-tools pull-right">
    <button type="button" class="btn btn-box-tool" data-widget="collapse">
      <i class="fa fa-minus"></i>
    </button>
  </div>
</section>

<div class="box-body">
  <div class="row">
    <div v-if="signer.key_error == false" class="form-group">
      <div class="col-md-12">
        <label>Key</label>
        <v-select v-model="signer.key" :options="user_keys" label="p11_label">
        </v-select>
      </div>
    </div>

    <div v-if="signer.key_error == true" class="form-group has-error">
      <div class="col-md-12">
        <label>Key</label>
        <v-select v-model="signer.key" :options="user_keys" label="p11_label">
        </v-select>
        <span class="help-block">A key must be chosen before signing / verifying.</span>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="form-group">
      <div class="col-md-6">
        <label>Key size/curve:</label>
        <div v-if="signer.key">${signer.key.p11_size_or_curve}</div>
        <div v-else>-</div>
      </div>
      <div class="col-md-6">
        <label>Key type:</label>
        <div v-if="signer.key">${signer.key.p11_type}</div>
        <div v-else>-</div>
      </div>
    </div>
  </div>

  <div v-if="signer.sign_mechs() != null" class="row">
    <div class="col-md-12">
      <div class="form-group">
        <label>Sign mechanism</label>
        <v-select
          v-model="signer.sign_mech"
          :options="signer.sign_mechs()">
        </v-select>
      </div>
    </div>
  </div>

  <div class="form-group">
      <div v-if="signer.data_error == false" class="form-group">
        <label>Data <strong></strong></label>

          <form class="box_upload" method="post" action="" enctype="multipart/form-data">
            <div v-if="!signer.is_uploading_data" class="center box__input">
               <label v-if="signer.data == null" class="center" for="data"><i class="fa fa-upload" style="font-size:3em"></i> Click to upload a file.</label>
               <label v-else class="center" for="data"><i class="fa fa-upload" style="font-size:3em"></i><i class="fa fa-check" style="font-size:3em"></i></label>
              <input v-on:change="signer.upload_data()" style="display:none" class="box__file" type="file" id="data"/>
           </div>
           <div v-if="signer.is_uploading_data" class="center">
              <i class="fa fa-spinner fa-pulse" style="font-size:3em"></i>
           </div>
          </form>

        <label>Signed Data <strong></strong></label>

        <form class="box_upload" method="post" action="" enctype="multipart/form-data">
          <div v-if="!signer.is_uploading_signed_data" class="center box__input">
              <label v-if="signer.signed_data == null" class="center" for="signed_data"><i class="fa fa-upload" style="font-size:3em"></i> Click to upload a file.</label>
              <label v-else class="center" for="signed_data"><i class="fa fa-upload" style="font-size:3em"></i><i class="fa fa-check" style="font-size:3em"></i></label>
              <input v-on:change="signer.upload_signed_data()" style="display:none" class="box__file" type="file" id="signed_data"/>
          </div>
          <div v-if="signer.is_uploading_signed_data" class="center">
              <i class="fa fa-spinner fa-pulse" style="font-size:3em"></i>
          </div>
        </form>
      </div>

      <div v-if="signer.data_error == true" class="form-group has-error">
        <label>Data <strong></strong></label>

         <form class="box_upload" method="post" action="" enctype="multipart/form-data">
            <div v-if="!signer.is_uploading_data" class="center box__input">
              <label v-if="signer.data == null" class="center" for="data"><i class="fa fa-upload" style="font-size:3em"></i> Click to upload a file.</label>
              <label v-else class="center" for="data"><i class="fa fa-upload" style="font-size:3em"></i><i class="fa fa-check" style="font-size:3em"></i></label>
              <input v-on:change="signer.upload_data()" style="display:none" class="box__file" type="file" id="data"/>
            </div>
            <div v-if="signer.is_uploading_data" class="center">
              <i class="fa fa-spinner fa-pulse" style="font-size:3em"></i>
            </div>
          </form>

        <label>Signed Data <strong></strong></label>

         <form class="box_upload" method="post" action="" enctype="multipart/form-data">
          <div class="center box__input">
              <label class="center" for="signed_data"><i class="fa fa-upload" style="font-size:3em"></i></label>
              <input v-on:change="signer.upload_signed_data()" style="display:none" class="box__file" type="file" id="signed_data"/>
          </div>
        </form>

        <span class="help-block">A file is required for signing / verifying.</span>
      </div>
  </div>

  <div class="box-footer">
    <div class="pull-left">
      <button
        v-on:click="signer.sign()"
        type="submit" class="btn btn-primary btn-flat">
        Sign
      </button>
    </div>
    <div class="pull-right">
      <button
        v-on:click="signer.verify()"
        type="submit" class="btn btn-primary btn-flat">
        Verify
      </button>
    </div>
  </div>
</div>
